[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
jupyter = "*"
pandas = "*"
altair = "*"
vega-datasets = "*"
tqdm = "*"
sklearn = "*"
pvlib = "*"
netcdf4 = "*"
siphon = "*"
tables = "*"
geonames = "*"
timezonefinder = "*"
fastparquet = "*"
cloudpickle = "*"
ipyleaflet = "*"
xgboost = "==1.1.0"

[requires]
python_version = "3.7"
